@import "./neumorph";

.header, .header button {
	position: absolute;
	top: 0;
	left: 0;

	animation-name: rainbow-text;
  animation-duration: $rainbowTime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  font-weight: 900;
}

.header-cont{
  position: absolute;
  height: 100vh;
  transition: all $swipe-time;
  transform: translate(0,0);
}

.header-cont-slide {
  transform: translate(24.5vw, 0);
}

.header button {
	// z-index: 99999;
}

.symbios-svg-header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: auto;
  height: 6vh;

  transform-origin: 6vh 0px;

  transform: rotate(-90deg) translate(0, -6vh);

  animation-name: rainbow-svg-symbios-sm-90;
  animation-duration: $rainbowTime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
