@import "./neumorph";
@import "~bootstrap/scss/bootstrap";

:root {
  --scale-filter: translate(20vw, -15vh) scale(1);
  --scale-filter-height: 100vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.main-cont {
  height: 100%;
}

#turbFilter {
  display: none;
  width: 0;
  height: 0;
}

body.stop-transitions * {
  transition: none !important;
}

.disable-hover {
  pointer-events: none !important;
}

.container{
  max-width: none;
}

svg {
  fill: none;
}

a {
  text-decoration: none;
}

a:link {
  color: $light-color;
}

a:visited {
  color: $light-color;
}

a:hover {
  color: $light-color;
}

a:active {
  color: $light-color;
}

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Space Mono', monospace;
  cursor: cell;
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  width: min(4vw, 28px);
  margin:0;
}

::-webkit-scrollbar-thumb {
  z-index: 1/1;
  background: hsl(0, $sat, $val);

  box-shadow: 
    inset 3px 3px 6px hsl(0, 0, $valDark),
    inset -3px -3px 6px hsl(0, 0, $valLight);

  mix-blend-mode: saturation;

  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);

  // border: 4px solid transparent;
  border-radius: 15px;
} 


/* For Firefox */
* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: hsl(0, $sat, $val) transparent; /* thumb and track color */
}

body{
  background-color: hsl($hueMin, $sat, $val);
  animation-duration: $rainbowTime;
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



.hidden {
  opacity: 0;
  transition: opacity 1s;
}


.shown {
  opacity: 1;
  transition: opacity 1s;
}

.portfolio-cont {
  // direction:rtl; 
  position: fixed;
  width: 100vw;
  left: 0vw;
  transition: all $swipe-time;
  transform: translate(0, 0) scale(1);
  transform-origin: 0vw 50vh;
  overflow-y: scroll;
  // height: 100vh;
  height: 100%;
}

.port-shad-cont{
  position: absolute;
  top: 0;
  right: 0;
  width: 5vh;
  // height: 100vh;
  height: 100%;
    z-index: -9999;
  filter: url(#filter) ;
  overflow: hidden;
  transition: .75s;
  visibility: visible;
}

.port-shad {
  position: absolute;
  // background: grey;
  top: 0;
  left: 3vh;
  width: 200vw;
  height: 150vh;
  transform: translate(0, -25vh);
    animation-name: rainbow-shadow-md;
  animation-duration: $rainbowTime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.portfolio {
  // min-height: 101vh;
  height: 101%;
  // filter: url(#filter);
}

.portfolio-cont div {
  direction:ltr; 
}

.ox-cont {
  overflow: hidden;
  width: 100vw;
  // height: 100vh;
  height: 100%;
  transform: translate(0, 0) scale(1), translate3d(0,0,0);
  position:absolute;
  top: 0;
  left: 0;

  transition:  all .75s, transform-origin 0ms;

  box-shadow: 0 0 0 #000;

  will-change: transform, opacity, transform-origin;
}


.ox-cont-slide {
  // transform: translate(40vh, -15vh) scale(.7);
  transform: translate(-100vw, 0);
  // width: calc(100vw / .7 - 40vh / .7);
}

.ox-cont-zoom {
  // transform: translate(40vh, -15vh) scale(.7);
  transform: scale(1.5);
  opacity: 0;
  // width: calc(100vw / .7 - 40vh / .7);
}


// @include media-breakpoint-up(md) {
  .portfolio-cont-slide {
    // transform: translate(40vh, -15vh) scale(.7);
    transform: var(--scale-filter);
    height: var(--scale-filter-height);
    // width: calc(100vw / .7 - 40vh / .7);
  }
// }

.max-cont {
  width: 100vw;
  // height: 100vh;
  height: 100%;
  overflow: hidden;
  position: absolute;

  will-change: transform, opacity, transform-origin;

}

.postViewerContainer {
  // height: 100vh;
  height: 100%;
  width: 100vw;
  // z-index: -10000;
  position: absolute;
  transform: scale(.03);
  // background: lightblue;
  // display: none;
  transition:  all .75s, transform-origin 0ms;
  opacity: 0;
  visibility: hidden;

  will-change: transform, opacity, transform-origin;

}

.zooming {
  // pointer-events: none;
}

.zooming .port-shad-cont {
  visibility: hidden;
  // opacity: 0;
}

  .postViewer-zoom {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

.infoViewerContainer {
  // height: 100vh;
  height: 100%;
  width: 100vw;
  // z-index: -10000;
  position: absolute;
  transform: translate(100vw, 0);
  // background: lightblue;
  // display: none;
  transition: .75s;
}

.infoViewer {
  width: 100%;
  height: 100%;
}

  .infoViewer-slide {
    transform: translate(0, 0);
  }


.TagSelector{
  background: rgba(0, 0, 0, 0);
}