@import "./neumorph"; 

.post-stuff {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  animation-name: rainbow-text;
  animation-duration: $rainbowTime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.post-title-lg {
  position: absolute;
  top: 3vh;
  left: 10vw;
  font-size: 6vh;

  color: white;

  animation-name: rainbow-text-lg;
  animation-duration: $rainbowTime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.post-title-lg {
    color: white;
}

.post-markdown {
  position: absolute;
  position: absolute;
  width: 80%;
  top: 77vh;
  left: 10vw;
  font-size: 2vh;

  color: white;

  
}

.player-hidden iframe {
  // visibility: hidden;
  opacity: 0;
  transition: 1s;
}


.player-loaded iframe {
  opacity: 1;
  // visibility: visible;
  transition: 1s;
}

.post-player {
  position: fixed;
  left: 50%;
  top: 14vh;
  width: 80vw;
  height: 60vh;

  transform: translate(-50%, 0);

}

.player-iframe {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
// }

// .player-iframe iframe {
  animation-name: rainbow-shadow;
  animation-duration: $rainbowTime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.player-iframe iframe{
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.postBackButton {
  // font-size: 6vh;
  position: absolute;
  top: 2vmin;
  left: 2vmin;
//   // z-index: 99999;
// }

// .postBackButton button {
  animation-name: rainbow-text;
  animation-duration: $rainbowTime;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}